* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Poppins', sans-serif;
}

p,
button {
	font-family: 'Roboto', sans-serif;
}

.App {
	width: 100%;
}

nav {
	position: sticky;

	display: flex;
	justify-content: space-between;

	& img {
		height: 2rem;
	}
}

body {
	background-color: rgb(75, 75, 179);
	color: white;

	font-family: Ggsans, sans-serif;

	margin: 0;
	width: 100vw;
	height: 100vh;
	padding: 2rem;

	background-image: url('./assets/discord-background.png');
	background-repeat: no-repeat;
	background-position: 80% 100%;

	& #root {
		width: 100%;
	}

	& article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 2rem;

		padding-top: 3rem;

		& header {
			max-width: 25rem;

			& h1 {
				text-transform: uppercase;
				font-size: 3rem;
				line-height: 3rem;
				margin: 0;
			}
		}

		& p {
			line-height: 1.5rem;
			max-width: 60%;
			margin: 0;
		}
		& button {
			border: none;
			border-radius: 5rem;
			padding: 1rem;
			font-size: 1rem;
			margin: 0;
		}
		& button.light {
			background-color: white;
		}
		& button.dark {
			background-color: black;
			color: white;
		}
	}
}
